$base: 8px;
$borderRadius: $base*2;

$black: #1F1F1F;
$white: #F5F5F5;
$glass: rgba($white, 0.7);
$lightGrey: #F0F0F0;
$grey: #E5E5E5;
$darkGrey: #353535;
$cchana: #FF5500;
$onetaw: #F20;

$timing: .2s ease-in-out;

:root{
    --bg-color: #{$white};
    --bg-color2: #{$lightGrey};
    --text-color: #{$black};
    --grey: #{$grey};
    --glass: #{$glass};
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-color: var(--bg-color);
    //background-image: url('/images/star-background.png');
    background-size: 800px 600px;
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0 $base*3 $base*3;
    position: relative;
}

header {
    background: rgba($black, 0.95);
    box-shadow: 0 0 10px 10px rgba($black, 0.95);
    margin-left: -$base*3;
    padding: $base*2;
    position:sticky;
    top: 0;
    width: calc(100% + #{$base*2});
    z-index: 5;
    h1 {
        font-size: $base*3;
        font-weight: 400;
        margin: 0 0 $base*2;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
    }
    nav {
        margin: 0 auto;
        max-width: 800px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 25%;
            &.selected a {
                background-color: rgba($white,0.2);
                border-radius: $base;
                text-decoration: underline;
            }
            a {
                display: block;
                font-weight: 600;
                padding: $base;
                text-align: center;
                text-decoration: none;
            }
            img {
                height: 32px;
            }
        }
    }
    a {
        color: #FFF;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    margin: 0 auto;
    max-width: 800px;
}

article {
    padding: $base*2 0;
}

dl {
    background-color: var(--glass);
    border-radius: $borderRadius;
    box-shadow: 0 0 20px -10px rgba($black,0.5);
    margin: $base*2 auto 0;
    max-width: 800px;
    &:first-child {
        margin: 0 auto;
    }
    dt {
        background: rgba(#000, 0.1);
        border-radius: $borderRadius $borderRadius 0 0;
        display: flex;
        padding: $base*2;
        img {
            border-radius: $borderRadius/2;
            box-shadow: 0 0 10px -3px rgba($black, .5);
            margin-right: $base*2;
            max-width: 64px;
        }
        h3 {
            margin: 0;
            padding: 0;
        }
        h3 {
            font-weight: 500;
        }
        em {
            display: block;
            font-weight: 300;
            font-style: normal;
        }
    }
    dd {
        border-radius: 0 0 $borderRadius $borderRadius;
        margin: 0;
        padding: $base*2;
        ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {

/*    :root{
        --bg-color:     #{$black};
        --text-color:   #{$white};
        --grey:         #{$darkGrey};
    }*/

}
