$base: 8px;
$borderRadius: $basePx/2;
$fancyBorderRadius: 50% 65% 50% 60% / 49% 55% 60% 60%;
$fancyBorderRadius2: 60% 50% 65% 50% / 60% 60% 55% 49%;

$black: #1F1F1F;
$white: #F5F5F5;
$lightGrey: #F0F0F0;
$grey: #E5E5E5;
$darkGrey: #353535;
$cchana: #FF5500;
$onetaw: #F20;

$timing: .2s ease-in-out;

:root{
    --bg-color: #{$white};
    --bg-color2: #{$lightGrey};
    --text-color: #{$black};
    --grey: #{$grey};
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
}

header {
    background: white;
    position:sticky;
    top: 0;
    width: 100%;
    h1 {
        font-size: $base*3;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 800px;
        padding: 0;
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 20%;
            &:first-child a {
                padding: 0 $base;
            }
            &.selected a {
                background-color: rgba(0,0,0,0.1);
                text-decoration: underline;
            }
            a {
                display: block;
                font-weight: 600;
                padding: $base;
                text-align: center;
                text-decoration: none;
            }
            img {
                filter: invert(1);
                height: 32px;
            }
        }
    }
}

blockquote {
    margin: 0 auto;
    max-width: 800px;
    cite {
        display: block;
    }
}

#songs {
    margin: 0 auto;
    max-width: 800px;
    ol {
        margin: 0;
        padding: 0;
        li {
            border: 1px solid black;
            list-style-type: none;
            margin: 0 20% 0 0;
            &.right {
                margin: 0 0 0 20%;
            }
            span {
                display: block;
            }
        }
    }
}
