body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
}

header {
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
}
header h1 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
header ul {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}
header ul li {
  list-style-type: none;
  width: 20%;
}
header ul li:first-child a {
  padding: 0 8px;
}
header ul li.selected a {
  text-decoration: underline;
}
header ul li a {
  display: block;
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
}
header ul li img {
  filter: invert(1);
  height: 32px;
}

blockquote {
  margin: 0 auto;
  max-width: 800px;
}
blockquote cite {
  display: block;
}

#songs {
  margin: 0 auto;
  max-width: 800px;
}
#songs ol {
  margin: 0;
  padding: 0;
}
#songs ol li {
  border: 1px solid black;
  list-style-type: none;
  margin: 0 20% 0 0;
}
#songs ol li.right {
  margin: 0 0 0 20%;
}
