:root {
  --black: #1F1F1F;
  --white: rgba(255, 255, 255, 0.9);
  --border: #474747;
  --maxWidth: 800px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0 24px 24px;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: var(--maxWidth);
}

header {
  background-color: var(--black);
  box-shadow: 0 20px 20px -10px var(--black);
  box-sizing: border-box;
  padding: 24px 16px;
  margin: 0 0 24px -24px;
  position: sticky;
  top: 0;
  z-index: 5;
  width: calc(100% + 48px);
}
header > div {
  margin: 0 auto;
  max-width: var(--maxWidth);
}
header h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
header nav form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header nav form > label,
header nav form > input {
  width: calc(50% - 8px);
}
header nav form > label {
  color: var(--white);
  padding: 8px 0;
}
header nav form > input[type=text] {
  font-size: 16px;
}
header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
}
header ul li.selected a {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-decoration: underline;
}
header ul li a {
  display: block;
  font-weight: 600;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
header ul li img {
  height: 32px;
}
header a {
  color: #FFF;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

article {
  padding: 16px 0;
}
article section {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: min(20%, 200px) min(calc(80% - 16px), 800px);
  margin: 0;
  padding: 0 0 24px;
}
article section > h2,
article section > h3 {
  color: var(--white);
  text-align: right;
}
article section h2 {
  font-size: 32px;
  font-weight: 500;
  grid-column: 1/2;
  margin: 0;
  padding: 0;
}
article section > h3 {
  font-size: 24px;
  font-weight: 300;
  grid-column: 1/2;
  margin: 0;
  padding: 0 8px 0 0;
  position: relative;
}
article section > h3:before {
  background-color: var(--border);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
}
article section > h3 span {
  position: sticky;
  top: 200px;
}
dl {
  border: 1px solid var(--border);
  border-radius: 16px;
  box-shadow: 0 0 16px #000;
  color: var(--black);
  margin: 16px auto 0;
}
dl:first-child {
  margin: 0 auto;
}
dl dt {
  background-color: var(--black);
  color: var(--white);
  border-radius: 16px 16px 0 0;
  display: flex;
  padding: 16px;
}
dl dt img {
  border-radius: 8px;
  box-shadow: 0 0 10px -3px rgba(31, 31, 31, 0.5);
  height: 40px;
  margin-right: 16px;
  width: 40px;
}
dl dt h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
dl dt em {
  display: block;
  font-weight: 300;
  font-style: normal;
}
dl dd {
  background-color: var(--white);
  border-radius: 0 0 16px 16px;
  margin: 0;
  padding: 16px;
}
dl dd ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl dd ol li {
  margin: 0;
  padding: 0;
}

footer {
  margin: 0 auto;
}
footer section {
  border-color: var(--white);
  border-style: solid;
  border-width: 1px 0;
}
footer a {
  color: var(--white);
}

@media screen and (min-width: 800px) {
  dl dt img {
    height: 48px;
    width: 48px;
  }
}
