$base: 8px;
$borderRadius: $base*2;

$black: #1F1F1F;
$white: #FFF;
$border: #474747;

$timing: .2s ease-in-out;

:root{
    --black: #{$black};
    --white: rgba(255, 255, 255, 0.9);
    --border: #{$border};
    --maxWidth: 800px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    background-image: url('/images/stars_bg.jpg'); // STAR TRAK
    background-attachment: fixed;
    background-position: top center;
    color: var(--white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0 $base*3 $base*3;
    position: relative;
}

main {
    margin: 0 auto;
    max-width: var(--maxWidth);
}

p {
    line-height: $base*3;
}

header {
    background-color: var(--black);
    background-image: url('/images/stars_bg.jpg'); // STAR TRAK
    background-attachment: fixed;
    background-position: top center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: var(--maxWidth);
    padding: $base 0 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    &:after {
        background-image: linear-gradient(to bottom, black, rgba(0,0,0,0));
        bottom: $base*-3;
        content: '';
        display: block;
        height: $base*3;
        position: absolute;
        width: 100%;
    }
    h1 {
        font-size: $base*3;
        font-weight: 400;
        margin: 0 0 $base*2;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        a {
            padding: $base;
        }
    }
    nav {
        flex: 1;
    }
    ul {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 22.5%;
            &.selected a {
                background-color: rgba($white,0.2);
                border-radius: $base;
                text-decoration: underline;
            }
            a {
                display: block;
                font-weight: 600;
                padding: $base;
                text-align: center;
                text-decoration: none;
            }
            img {
                height: 32px;
            }
        }
    }
    form {
        display: flex;
        padding: 0 0 $base*2;
        width: 100%;
        justify-content: space-between;
        input[type="search"] {
            background-color: rgba(255,255,255,0.75);
            border: 0;
            border-radius: $base*2 0 0 $base*2;
            color: var(--black);
            flex: 1;
            font-size: $base*2;
            font-weight: 500;
            margin: 0;
            padding: $base;
            &:focus {
                outline: 0;
            }
        }
        input[type="submit"] {
            background-color: var(--white);
            border: 0;
            border-radius: 0 $base*2 $base*2 0;
            font-size: $base*2;
            font-weight: 500;
            margin: 0;
            padding: $base $base*2;
            text-transform: uppercase;
            -webkit-appearance: none;
        }
    }
    a {
        color: #FFF;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

article {
    padding: $base*2 0;
    aside {
        background-color: rgba(#FFF, 0.25);
        border-radius: $borderRadius/2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: $base 0 $base*3;
        padding: $base*2;
        h1 {
            margin: 0 0 $base*2;
            width: 100%;
        }
        img {
            border-radius: $borderRadius/2;
            box-shadow: 0 0 20px rgba($black, .5);
            height: 128px;
            width: 128px;
        }
        blockquote {
            flex: 1;
            margin: 0 $base*3 0 0;
            max-width: 45ch;
            p {
                font-style: italic;
                margin: 0;
                padding: 0;
            }
            cite {
                display: block;
                text-align: right;
            }
        }
    }
    > h2 {
        border-bottom: 1px solid var(--border);
        font-size: $base*2;
        margin: $base*3 0;
        padding: 0 0 $base;
    }
}

dl {
    border: 1px solid var(--border);
    border-radius: $borderRadius;
    box-shadow: 0 0 $base*3 -$base #000;
    color: var(--black);
    margin: $base*2 0 0;
    &:first-child {
        margin: 0 auto;
    }
    dt {
        background-color: var(--black);
        color: var(--white);
        border-radius: $borderRadius $borderRadius 0 0;
        display: flex;
        padding: $base*2;
        img {
            border-radius: $borderRadius/2;
            box-shadow: 0 0 10px -3px rgba($black, .5);
            height: $base*5;
            margin-right: $base*2;
            width: $base*5;
        }
        h3 {
            flex: 1;
            font-size: $base*2;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
        em {
            display: block;
            font-weight: 300;
            font-style: normal;
        }
    }
    dd {
        background-color: var(--white);
        border-radius: 0 0 $borderRadius $borderRadius;
        margin: 0;
        padding: $base*2;
        ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: $base 0 0;
                &:first-child {
                    padding: 0;
                }
            }
        }
        details {
            background-color: rgba(#000, 0.1);
            border-radius: $borderRadius/3;
            font-size: $base*1.5;
            margin: $base*2 0 0;
            summary,
            p {
                color: var(--black);
                padding: $base;
            }
            summary {
                cursor: pointer;
                outline: 0;
            }
            p {
                background-color: rgba(#FFF, 0.25);
                border-top: 1px solid var(--white);
                margin: 0;
            }
            a {
                color: var(--black);
            }
        }
    }
}

footer {
    margin: 0 auto;
    section {
        border-color: var(--white);
        border-style: solid;
        border-width: 1px 0 0;
        margin: 0;
        p {
            margin: $base*2;
        }
    }
    a {
        color: var(--white);
    }
}

#songs {
    section {
        display: grid;
        grid-gap: $base*2;
        grid-template-columns: min(20%, 200px) min(calc(80% - #{$base*2}), 800px);
        margin: 0;
        padding: 0 0 $base*3;
        > h2,
        > h3 {
            color: var(--white);
            text-align: right;
        }
        h2 {
            font-size: $base*4;
            font-weight: 500;
            grid-column: 1/2;
            margin: 0;
            padding: 0;
        }
        > h3 {
            font-size: $base*3;
            font-weight: 300;
            grid-column: 1/2;
            margin: 0;
            padding: 0 $base*2 0 0;
            position: relative;
            &:before {
                background-color: var(--border);
                border-radius: $base/4;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: $base/2;
            }
            span {
                position: sticky;
                top: 180px;
            }
        }
        > div {
            margin: 0;
        }
    }
}

.error {
    min-height: 100vh;
}

@media screen and (min-width: 800px) {
    header {
        margin: 0 auto;
    }
    dl dt img {
        height: $base*6;
        width: $base*6
    }
    article aside img {
        height: 128px;
        width: 128px;
    }
}

@media (prefers-color-scheme: dark) {

    :root{
    }

}
