:root {
  --bg-color: #F5F5F5;
  --bg-color2: #F0F0F0;
  --text-color: #1F1F1F;
  --grey: #E5E5E5;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
}

header {
  backdrop-filter: blur(10px);
  background: rgba(245, 245, 245, 0.7);
  padding: 16px;
  position: sticky;
  top: 0;
  width: 100%;
}
header h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
header ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}
header ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
}
header ul li:first-child a {
  padding: 0 8px;
}
header ul li.selected a {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: underline;
}
header ul li a {
  display: block;
  font-weight: 600;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
header ul li img {
  filter: invert(1);
  height: 32px;
}

#songs {
  margin: 0 auto;
  max-width: 800px;
}
#songs ol {
  margin: 0;
  padding: 0;
}
#songs ol li {
  border: 1px solid var(--grey);
  border-radius: 8px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0 50% 8px 0;
  padding: 8px;
  width: 50%;
}
#songs ol li.right {
  margin: 0 0 8px 50%;
}
#songs ol li img {
  float: right;
  height: auto;
  width: 64px;
}
#songs ol li h3 {
  margin: 0;
  padding: 0;
}
#songs ol li span {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1F1F1F;
    --text-color: #F5F5F5;
    --grey: #353535;
  }
}
