$base: 8px;

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
}

header {
    background: white;
    position:sticky;
    top: 0;
    width: 100%;
    h1 {
        font-size: $base*3;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        display: flex;
        margin: 0 auto;
        max-width: 800px;
        li {
            list-style-type: none;
            width: 20%;
            &:first-child a {
                padding: 0 $base;
            }
            &.selected a {
                text-decoration: underline;
            }
            a {
                display: block;
                font-weight: 600;
                padding: $base;
                text-decoration: none;
            }
            img {
                filter: invert(1);
                height: 32px;
            }
        }
    }
}

blockquote {
    margin: 0 auto;
    max-width: 800px;
    cite {
        display: block;
    }
}

#songs {
    margin: 0 auto;
    max-width: 800px;
    ol {
        margin: 0;
        padding: 0;
        li {
            border: 1px solid black;
            list-style-type: none;
            margin: 0 20% 0 0;
            &.right {
                margin: 0 0 0 20%;
            }
        }
    }
}
